{% extends './layout.html' %}

{% block title %}RMM | Administración de Usuarios{% endblock %}

{% block body %}
{% include 'header.html' %}

<style>
    .btn-sm {
        min-width: 95px;
        text-align: center;
        font-size: 13px;
    }
    .new-user-button {
        text-align: left;
        margin-bottom: 10px;
    }
</style>

<div class="container-fluid mt-3 ms-3">
    <div class="row">
        <div class="col-12 new-user-button">
            <!-- Botón para abrir un modal de creación de usuario (si es necesario) -->
            <button class="btn btn-secondary">Nuevo Usuario</button>
        </div>
        <div class="col-12">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Username</th>
                        <th>Contraseña</th>
                        <th>Correo</th>
                        <th>Nombre</th>
                        <th>Apellido</th>
                        <th>ID Role</th>
                        <th>Acciones</th>

                    </tr>
                </thead>
                <tbody>
                    {% for user in data %}
                    <tr id="{{ user.id }}">
                        <td>{{ user.id }}</td>
                        <td>{{ user.username }}</td>
                        <td>{{ user.password }}</td>
                        <td>{{ user.correo }}</td>
                        <td>{{ user.nombre }}</td>
                        <td>{{ user.apellido }}</td>
                        <td>{{ user.id_role }}</td>
                        <td>
                            <button type="button" class="btn btn-sm btn-primary edit-btn" onclick="openEditModal({{user.id}})">Editar</button>
                            <a href="{{ url_for('configuraciones.eliminar_usuario', id_user=user.id) }}" class="btn btn-sm btn-danger" onclick="return confirm('¿Está seguro de que desea eliminar a este usuario?')">Eliminar</a>
                        </td>
                    </tr>
                    {% else %}
                        <tr>
                            <td colspan="3">No hay usuarios disponibles.</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>                                                                                                 
        </div>
    </div>
</div>

<!-- Aquí podrías incluir el modal para crear un nuevo usuario si es necesario -->
<!-- Bootstrap Modal -->
<div class="modal fade" id="editUserModal" tabindex="-1" role="dialog" aria-labelledby="editUserModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editUserModalLabel">Edit User</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                {% include 'configuraciones/edicion_user.html' %}
            </div>
        </div>
    </div>
</div>

  

{% endblock %}

{% block scripts %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    function openEditModal(userId) {
        // Example: Fetch user data using AJAX
        // Adjust the URL and method according to your application's API
        console.log(userId)
        fetch(`/get_user/${userId}`)
            .then(response => response.json())
            .then(user => {
                // Assuming your API returns user data in a 'user' object
                // Populate the form fields in the modal
                console.log(user.id)
                console.log(user.username)
                console.log(user.correo)
                console.log(user.nombre)
                console.log(user.apellido)
                console.log(user.id_role)
                document.getElementById('modalUserId').value = user.id;
                document.getElementById('modalUsername').value = user.username;
                document.getElementById('modalEmail').value = user.correo;
                document.getElementById('modalFirstName').value = user.nombre;
                document.getElementById('modalLastName').value = user.apellido;
                document.getElementById('modalRoleId').value = user.id_role;

                // Dynamically set the form action with the user ID
                var formAction = "{{ url_for('configuraciones.editar_usuario', user_id=0) }}";
                formAction = formAction.replace("0", userId);
                document.getElementById('editUserForm').action = formAction;

                // Show the modal
                jQuery('#editUserModal').modal('show');
            })
            .catch(error => {
                console.error('Error fetching user data:', error);
            });
    } 
</script>
{% endblock %}
