{% extends './layout.html' %}

{% block title %}RMM | Administración de Roles{% endblock %}

{% block body %}
{% include 'header.html' %}

<style>
    .btn-sm {
        min-width: 95px;
        text-align: center;
        font-size: 13px;
    }
    .new-role-button {
        text-align: left;
        margin-bottom: 10px;
    }
</style>

<div class="container-fluid mt-3 ms-3">
    <div class="row">
        <div class="col-12 new-role-button">
            <button class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#crearRolModal">Nuevo Rol</button>
        </div>
        <div class="col-12">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Descripción</th>
                        <th>Usuarios</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for role in data %}
                    <tr id="{{ role.id_role }}">
                        <td>{{ role.id_role }}</td>
                        <td class="description-cell">{{ role.description }}</td>
                        <td class="usernames-cell">{{ role.usernames | join(', ') }}</td>
                        <td>
                            <button class="btn btn-sm btn-primary edit-btn" onclick="openEditModal({{role.id_role}})">Editar</button>
                            <a href="{{ url_for('configuraciones.delete_role', id_role=role.id_role) }}" class="btn btn-sm btn-danger" onclick="return confirm('¿Está seguro de que desea eliminar este rol?')">Eliminar</a>
                        </td>
                    </tr>
                    {% else %}
                        <tr>
                            <td colspan="4">No hay roles disponibles.</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>                                                                                                 
        </div>
    </div>
</div>

<!-- Bootstrap Modal to create roles -->
<div class="modal fade" id="crearRolModal" tabindex="-1" aria-labelledby="crearRolModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="crearRolModalLabel">Crear Nuevo Rol</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                {% include 'configuraciones/creacion_rol.html' %}
            </div>
        </div>
    </div>
</div>

<!-- Bootstrap Modal to edit roles -->
<div class="modal fade" id="editRoleModal" tabindex="-1" role="dialog" aria-labelledby="editRoleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editRoleModalLabel">Edit User</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                {% include 'configuraciones/edicion_rol.html' %}
            </div>
        </div>
    </div>
</div>

{% block scripts %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    function openEditModal(roleId) {
        fetch(`/get_role/${roleId}`)
            .then(response => {
                if (!response.ok) {
                    console.log(response)
                    throw new Error('Network response was not ok');
                }
                return response.json();
            })
            .then(role => {
                // Populate the modal form fields
                document.getElementById('modalRoleId').value = role.id_role;
                document.getElementById('modalDescription').value = role.description;
    
                // Add event listener for form submission
                $('#editRoleForm').off('submit').on('submit', function(e) {
                    e.preventDefault();  // Prevent default form submission
    
                    var updatedRoleData = {
                        description: document.getElementById('modalDescription').value,
                    };
    
                    fetch(`/editar_rol/${roleId}`, {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify(updatedRoleData)
                    })
                    .then(response => {
                        if (!response.ok) {
                            throw new Error('Network response was not ok');
                        }
                        return response.json();
                    })
                    .then(data => {
                        console.log('Success:', data);
                        jQuery('#editRoleModal').modal('hide');
                    })
                    .catch((error) => {
                        console.error('Error:', error);
                    });
                });
    
                // Show the modal
                jQuery('#editRoleModal').modal('show');
            })
            .catch(error => {
                console.error('Error fetching role data:', error);
            });
    }
    
</script>
{% endblock %}

{% endblock %}
