<style>
  .custom_btn {
    margin: 0 0 0 0;
    border-color: #ffc107;
    color: black;
  }

  .custom_btn:hover {
      border-color: #dc3545;
      color: white;
  }
</style>
<form method="POST" action="{{ url_for('human_resources.edit_employee', employee_id=1) }}">
    {{ form.csrf_token }}

    <!-- Hidden Field for Supplier ID -->
    <input type="hidden" name="employee_id" id="editEmployeeModalId">

    <div class="mb-3">
        {{ form.user_id.label(class="form-label") }}
        {{ form.user_id(class="form-control", id="editEmployeeModalUserId") }}
    </div>
  
    <div class="mb-3">
      {{ form.run.label(class="form-label") }}
      {{ form.run(class="form-control", id="editEmployeeModalRUN") }}
    </div>
    
    <div class="mb-3">
      {{ form.first_name.label(class="form-label") }}
      {{ form.first_name(class="form-control", id="editEmployeeModalFirstName") }}
    </div>
    
    <div class="mb-3">
      {{ form.last_name.label(class="form-label") }}
      {{ form.last_name(class="form-control", id="editEmployeeModalLastName") }}
    </div>
    
    <div class="mb-3">
      {{ form.joined_in.label(class="form-label") }}
      {{ form.joined_in(class="form-control", id="editEmployeeModalJoinedIn") }}
    </div>
    
    <div class="mb-3">
      {{ form.lunch_break.label(class="form-label") }}
      {{ form.lunch_break(class="form-control", id="editEmployeeModalLunchBreak") }}
    </div>
    
    <button type="submit" class="btn btn-warning custom_btn">Guardar cambios</button>
  </form>
  