{% extends './layout.html' %}

{% block title %}RMM | Empleados{% endblock %}

{% block body %}
{% include 'header.html' %}

<style>
    .new-role-button {
        text-align: left;
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 10px;
        padding: 0 0 0 0;
    }

    .employee-card {
        border: 1px solid #ccc;
        padding: 10px;
        margin-bottom: 10px;
    }

    .container-fluid {
        max-width: 90%;
    }

    .custom_btn {
        margin: 0 0 0 0;
        border-color: #ffc107;
        color: black;
    }

    .custom_btn:hover {
        border-color: #dc3545;
        color: white;
    }
</style>

<!-- Mostrar cuadros de empleados -->
<div class="container-fluid mt-3">
    <div class="row">
        <div class="col-12 new-role-button mb-4">
            <button class="btn btn-warning m-0 border-2 custom_btn shadow" data-bs-toggle="modal" data-bs-target="#createEmployeeModal">Crear Nuevo Empleado</button>
        </div>
        {% for employee in data %}
            <div class="col-md-4">
                <div class="employee-card rounded-4">
                    <h4 class="m-0">{{ employee.first_name }} {{ employee.last_name }}</h4>
                    <hr style="height: 2px; background-color: black;">
                    <div class="d-flex justify-content-between">
                        <p class="ms-3 fw-bold">Username:</p>
                        <p class="me-3">{{ employee.username }}</p>
                    </div>
                    <div class="d-flex justify-content-between">
                        <p class="ms-3 fw-bold">RUN:</p>
                        <p class="me-3">{{ employee.run }}</p>
                    </div>
                    <div class="d-flex justify-content-between">
                        <p class="ms-3 fw-bold">Fecha de incorporación:</p>
                        <p class="me-3">{{ employee.joined_in }}</p>
                    </div>
                    <div class="d-flex justify-content-between">
                        <p class="ms-3 fw-bold">Horario de colación:</p>
                        <p class="me-3">{{ employee.lunch_break }}</p>
                    </div>
                    <!-- Agrega más información del empleado según tus necesidades -->
                    <button type="button" class="btn btn-sm btn-warning custom_btn me-1 ms-3 edit-btn" 
                    onclick="openEditEmployeeModal({{ employee }})">Editar</button>
                    <a href="{{ url_for('human_resources.delete_employee', employee_id=employee.id) }}" class="btn btn-sm btn-danger" onclick="return confirm('¿Está seguro de que desea eliminar a este empleado?')">Eliminar</a>
                </div>
            </div>
        {% endfor %}
    </div>
</div>

<div class="modal fade" id="createEmployeeModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Crear Nuevo Empleado</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                {% include 'human_resources/employees_management/employee_creation.html' %}
            </div>
        </div>
    </div>
</div>

<!-- Modal for editing an employee -->
<div class="modal fade" id="editEmployeeModal" tabindex="-1" aria-labelledby="editModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editModalLabel">Editar Empleado</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                {% include 'human_resources/employees_management/employee_edition.html' %}
            </div>
        </div>
    </div>
</div>

{% block scripts %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    function openEditEmployeeModal(employee) {
        // Populate the modal fields
        document.getElementById('editEmployeeModalFirstName').value = employee.first_name;
        document.getElementById('editEmployeeModalLastName').value = employee.last_name;
        document.getElementById('editEmployeeModalUserId').value = employee.user_id;
        document.getElementById('editEmployeeModalRUN').value = employee.run;
        document.getElementById('editEmployeeModalJoinedIn').value = employee.joined_in;
        document.getElementById('editEmployeeModalLunchBreak').value = employee.lunch_break;
        document.getElementById('editEmployeeModalId').value = employee.id;  // Set the hidden ID field

        // Update the form action
        var form = document.querySelector('#editEmployeeModal form');
        var baseUrl = "{{ url_for('human_resources.edit_employee', employee_id=0) }}";  // Get a base URL
        form.action = baseUrl.replace('/0', '/' + employee.id);  // Replace the '0' with the actual employee ID
        
        // Open the modal
        jQuery('#editEmployeeModal').modal('show');
    }
</script>
{% endblock %}

{% endblock %}
