{% extends './layout.html' %}

{% block title %}RMM | Detalles del Producto{% endblock %}

{% block body %}
{% include 'header.html' %}

<style>
  .btn-sm {
    min-width: 95px;
    text-align: center;
    font-size: 13px;
  }
  .product-detail {
    margin-bottom: 20px;
  }
  
  table {
    float: right;
    margin-right: 16px;
  }
  
</style>

<div class="container-fluid mt-3 ms-3">
    <div class="row">
        <div class="col-12">
            <h1 class="product-detail">Detalles del Producto</h1>
    
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Tipo</th>
                        <th>Descripción</th>
                        <th>SKU</th>
                    </tr>
                </thead>
                <tbody>
                    {% if product %}
                    <tr>
                        <td>{{ product.variant_id }}</td>
                        <td>{{ product.type }}</td>
                        <td>{{ product.description }}</td>
                        <td>{{ product.sku }}</td>
                    </tr>
                    {% else %}
                    <tr>
                        <td colspan="4">No se encontró ningún producto con el SKU especificado.</td>
                    </tr>
                    {% endif %}
                </tbody>
            </table>
            
            {% if product.prediction %}
            <div id="myPlot" 
                style="width:95%;height:400px;margin-left:25px;margin-top:120px;margin-right:10px">
            </div>
            {% endif %}

            <h2>Stock</h2>
            <table class="table table-bordered history-table">
                <thead>
                    <tr>
                        <th>Stock Sob. Existencia</th>
                        <th>Stock Lira</th>
                    </tr>
                </thead>
                <tbody>
                    {% if product.stock %}
                    <tr>
                        <td>{{ product.stock.stock_sobrexistencia }}</td>
                        <td>{{ product.stock.stock_lira }}</td>
                    </tr>
                    {% else %}
                    <tr>
                        <td colspan="2">No se encontró ningún registro de stock.</td>
                    </tr>
                    {% endif %}
                </tbody>
            </table>

            <h2>Kardex</h2>
            <table class="table table-bordered history-table">
                <thead>
                    <tr>
                        <th>Fecha</th>
                        <th>Entrada</th>
                        <th>Salida</th>
                        <th>Stock</th>
                    </tr>
                </thead>
                <tbody>
                    {% if product.kardex %}
                        {% for kardex in product.kardex %}
                            <tr>
                                <td>{{ kardex.fecha }}</td>
                                <td>{{ kardex.entrada }}</td>
                                <td>{{ kardex.salida }}</td>
                                <td>{{ kardex.stock_actual }}</td>
                            </tr>
                        {% endfor %}
                    {% else %}
                    <tr>
                        <td colspan="2">No se encontró ningún registro de stock.</td>
                    </tr>
                    {% endif %}
                </tbody>
            </table>

            <h2>Ultimo Costo Neto</h2>
            <table class="table table-bordered history-table">
                <thead>
                    <tr>
                        <th>Fecha</th>
                        <th>Costo Neto</th>
                    </tr>
                </thead>
                <tbody>
                    {% if product.last_net_cost %}
                    <tr>
                        <td>{{ product.last_net_cost.fecha }}</td>
                        <td>{{ product.last_net_cost.costo_neto_formated }}</td>
                    </tr>
                    {% else %}
                    <tr>
                        <td colspan="2">No se encontró ningún registro de costo.</td>
                    </tr>
                    {% endif %}
                </tbody>
            </table>

            <h2>Listas de Precios</h2>
            <table class="table table-bordered history-table">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Precio</th>
                        <th>Factor Ponderador</th>
                    </tr>
                </thead>
                <tbody>
                    {% for price in product.price_list %}
                    <tr>
                        <td>{{ price.name }}</td>
                        <td>{{ price.valor_formated }}</td>
                        <td>{{ price.factor_ponderador_formated }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

            <h2>Historial de Recepciones</h2>
            <table class="table table-bordered history-table">
                <thead>
                    <tr>
                        <th>Fecha</th>
                        <th>Documento</th>
                        <th>Oficina</th>
                        <th>Nota</th>
                        <th>Cantidad</th>
                        <th>Costo Neto</th>
                    </tr>
                </thead>
                <tbody>
                    {% for reception_detail_list in product.reception_details_list %}
                    <tr>
                        <td>{{ reception_detail_list.fecha }}</td>
                        <td>{{ reception_detail_list.documento }}</td>
                        <td>{{ reception_detail_list.oficina }}</td>
                        <td>{{ reception_detail_list.nota }}</td>
                        <td>{{ reception_detail_list.cantidad }}</td>
                        <td>{{ reception_detail_list.costo_neto_formated }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

            <h2>Historial de Consumos</h2>
            <table class="table table-bordered history-table">
                <thead>
                    <tr>
                        <th>Fecha</th>
                        <th>Oficina</th>
                        <th>Nota</th>
                        <th>Cantidad</th>
                        <th>Costo Neto</th>
                    </tr>
                </thead>
                <tbody>
                    {% for consumption_detail_list in product.consumption_details_list %}
                    <tr>
                        <td>{{ consumption_detail_list.fecha }}</td>
                        <td>{{ consumption_detail_list.oficina }}</td>
                        <td>{{ consumption_detail_list.nota }}</td>
                        <td>{{ consumption_detail_list.cantidad }}</td>
                        <td>{{ consumption_detail_list.costo_neto_formated }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

            <h2>Historial de Ventas</h2>
            <table class="table table-bordered history-table">
                <thead>
                    <tr>
                        <th>Fecha</th>
                        <th>Documento</th>
                        <th>Oficina</th>
                        <th>Cantidad</th>
                        <th>Valor Unitario</th>
                        <th>Valor Total</th>
                    </tr>
                </thead>
                <tbody>
                    {% for sale_list in product.sales_list %}
                    <tr>
                        <td>{{ sale_list.fecha }}</td>
                        <td>{{ sale_list.documento }}</td>
                        <td>{{ sale_list.oficina }}</td>
                        <td>{{ sale_list.cantidad }}</td>
                        <td>{{ sale_list.valor_unitario_formated }}</td>
                        <td>{{ sale_list.valor_total_formated }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% if product.prediction %}
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        var plotData = JSON.parse('{{ product.prediction | safe }}');
        Plotly.newPlot('myPlot', plotData);
        console.log(plotData);
    });
</script>
{% endif %}

{% endblock %}