<style>
    .custom_btn {
        margin: 0 0 0 0;
        border-color: #ffc107;
        color: black;
    }
  
    .custom_btn:hover {
        border-color: #dc3545;
        color: white;
    }
</style>
<form action="{{ url_for('configuraciones.crear_rol') }}" method="post">
    {{ form.csrf_token }}
    <div class="mb-3">
        {{ form.description.label(class="form-label") }}
        {{ form.description(class="form-control", id="descripcionRol") }}
    </div>
    <button type="submit" class="btn btn-warning custom_btn">Crear Rol</button>
</form>
