{% extends './layout.html' %}

{% block title %}RMM | Carro de Compras{% endblock %}

{% block body %}
{% include 'header.html' %}


<style>
    .container-fluid {
        max-width: 90%;
    }
    
    .custom_btn {
        margin: 0 0 0 0;
        border-color: #ffc107;
        color: black;
    }
    
    .custom_btn:hover {
        border-color: #dc3545;
        color: white;
    }
</style>


<div class="container-fluid mt-3">
    <div class="row">
        <div class="col-md-5">
            <div class="bg-warning text-dark p-1 rounded mt-2">
                <h4 class="mb-1">Detalle de la Compra</h4>
            </div>

            <ul class="list-group mt-1">
                <li class="list-group-item d-flex justify-content-between align-items-center" style="padding-top: 5px; padding-bottom: 5px;">
                    <strong>ID</strong>
                    <span>{{ data_general.cart_id }}</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center" style="padding-top: 5px; padding-bottom: 5px;">
                    <strong>Descripción</strong>
                    <span>{{ data_general.descripcion }}</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center" style="padding-top: 5px; padding-bottom: 5px;">
                    <strong>Proveedor</strong>
                    <span>{{ data_general.proveedor }}</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center" style="padding-top: 5px; padding-bottom: 5px;">
                    <strong>Fecha Creacion</strong>
                    <span>{{ data_general.fecha_creacion }}</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center" style="padding-top: 5px; padding-bottom: 5px;">
                    <strong>Estado</strong>
                    <span>{{ data_general.estado }}</span>
                </li>
            </ul>
        </div>

        <div class="col-md-3"></div>

        <div class="col-md-4">
            <div class="bg-danger text-white p-1 rounded mt-2">
                <h4 class="mb-1">Resumen de la Compra</h4>
            </div>
            <ul class="list-group mt-1">
                <li class="list-group-item d-flex justify-content-between align-items-center" style="padding-top: 5px; padding-bottom: 5px;">
                    <strong>Cantidad de Items</strong>
                    <span>{{ data_resume.cantidad_articulos }}</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center" style="padding-top: 5px; padding-bottom: 5px;">
                    <strong>Subtotal</strong>
                    <span>$ {{ data_resume.subtotal }}</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center" syle="padding-top: 5px; padding-bottom: 5px;">
                    <strong>Impuestos</strong>
                    <span>$ {{ data_resume.impuestos }}</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center" style="padding-top: 5px; padding-bottom: 5px;">
                    <strong>Total</strong>
                    <span>$ {{ data_resume.total }}</span>
                </li>
            </ul>
            <div class="d-grid my-2">
                <button class="btn btn-success m-0" type="button">Proceder al Pago</button>
            </div>
        </div>
    </div>
</div>

<hr style="height: 2px; background-color: black;">

<div class="container-fluid mt-3">
    <div class="row">
        <div class="col-12">
            <table class="table table-hover table-striped">
                <thead class="table-dark text-light">
                    <tr>
                        <th>Producto</th>
                        <th>SKU</th>
                        <th>Costo Neto</th>
                        <th>Cantidad</th>
                        <th>Subtotal</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for product in data_detail %}
                    <tr id="product-{{ product.id }}">
                        <td>{{ product.descripcion_producto }}</td>
                        <td>{{ product.sku_producto }}</td>
                        <td>${{ product.costo_neto }}</td>
                        <td>
                            <input type="number" value="{{ product.cantidad }}" min="1" class="form-control-sm quantity-input" id="quantity-{{ product.id }}">
                        </td>
                        <td>${{ product.cantidad * product.costo_neto }}</td>
                        <td>
                            <a class="btn btn-sm btn-warning custom_btn" data-id="{{ product.id }}" data-cart-id="{{ product.cart_id }}" onclick="actualizarProducto(this)">Actualizar</a>
                            <a class="btn btn-sm btn-danger delete-btn" data-id="{{ product.id }}"
                            href="{{ url_for('compras.eliminar_producto', cart_id=product.cart_id, cart_detail_id=product.id, products_quantity=data_detail|length) }}" onclick="return confirm('¿Estas seguro que deseas eliminar este producto?')">Eliminar</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock %}

{% block scripts %}
<script>
    function actualizarProducto(element) {
        var productId = element.getAttribute('data-id');
        var cartId = element.getAttribute('data-cart-id');
        var cantidad = document.getElementById('quantity-' + productId).value;

        console.log(productId);
        console.log(cartId);
        console.log(cantidad);

        var data = {
            cantidad: cantidad,
            cart_id: cartId,
            cart_detail_id: productId
        };

        fetch("{{ url_for('compras.actualizar_producto_carro') }}", {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'Accept': 'application/json'
            },
            body: JSON.stringify(data)
        })
        .then(response => response.json())
        .then(data => {
            if (data.redirect) {
                window.location.href = data.redirect;
            }
        })
        .then(data => {
            console.log('Success:', data);
        })
        .catch((error) => {
            console.error('Error:', error);
        });
    }
</script>
{% endblock %}

