{% extends './layout.html' %}

{% block title %}RMM | Carro de Compras{% endblock %}

{% block body %}
{% include 'header.html' %}


<style>
    .container-fluid {
        max-width: 90%;
    }
    
    .custom_btn {
        margin: 0 0 0 0;
        border-color: #ffc107;
        color: black;
    }
    
    .custom_btn:hover {
        border-color: #dc3545;
        color: white;
    }

    .proceder-btn {
        margin: 0 0 0 0;
        border-color: #28a745;
    }

    .proceder-btn:hover {
        border-color: #dc3545;
        color: white;
    }
</style>


<div class="container-fluid mt-3">
    <div class="row">
        <div class="col-md-5">
            <div class="bg-warning text-dark p-1 rounded mt-2">
                <h4 class="mb-1">Detalle de la Compra</h4>
            </div>

            <ul class="list-group mt-1">
                <li class="list-group-item d-flex justify-content-between align-items-center" style="padding-top: 5px; padding-bottom: 5px;">
                    <strong>ID</strong>
                    <span>{{ data_general.cart_id }}</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center" style="padding-top: 5px; padding-bottom: 5px;">
                    <strong>Descripción</strong>
                    <span>{{ data_general.descripcion }}</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center" style="padding-top: 5px; padding-bottom: 5px;">
                    <strong>Proveedor</strong>
                    <span>{{ data_general.proveedor }}</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center" style="padding-top: 5px; padding-bottom: 5px;">
                    <strong>Fecha Creacion</strong>
                    <span>{{ data_general.fecha_creacion }}</span>
                </li>
                {% if data_general.estado == 'Recepcionado' %}
                <li class="list-group-item d-flex justify-content-between align-items-center" style="padding-top: 5px; padding-bottom: 5px;">
                    <strong>Fecha Recepcion</strong>
                    <span>{{ data_general.fecha_recepcion }}</span>
                </li>
                {% endif %}
                <li class="list-group-item d-flex justify-content-between align-items-center" style="padding-top: 5px; padding-bottom: 5px;">
                    <strong>Estado</strong>
                    <span>{{ data_general.estado }}</span>
                </li>
            </ul>
        </div>

        <div class="col-md-3"></div>

        <div class="col-md-4">
            <div class="bg-danger text-white p-1 rounded mt-2">
                <h4 class="mb-1">Resumen de la Compra</h4>
            </div>
            <ul class="list-group mt-1">
                <li class="list-group-item d-flex justify-content-between align-items-center" style="padding-top: 5px; padding-bottom: 5px;">
                    <strong>Cantidad de Items</strong>
                    <span>{{ data_resume.cantidad_articulos }}</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center" style="padding-top: 5px; padding-bottom: 5px;">
                    <strong>Subtotal</strong>
                    <span>$ {{ data_resume.subtotal }}</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center" syle="padding-top: 5px; padding-bottom: 5px;">
                    <strong>Impuestos</strong>
                    <span>$ {{ data_resume.impuestos }}</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center" style="padding-top: 5px; padding-bottom: 5px;">
                    <strong>Total</strong>
                    <span>$ {{ data_resume.total }}</span>
                </li>
            </ul>
            <div class="d-grid my-2">
                {% if data_general.estado == 'Creado' %}
                <button class="btn btn-success m-0 proceder-btn" type="button" onclick="emitirCompra(this)" 
                data-general="{{ data_general.cart_id }};{{ data_general.descripcion }};{{ data_general.proveedor }};{{ data_general.fecha_creacion }};{{ data_general.estado }}">Proceder al Pago</button>
                {% else %}
                <div class="d-flex">
                    <div class="flex-fill me-1">
                    <button class="btn btn-success w-100 m-0 proceder-btn" type="button" data-bs-toggle="modal" data-bs-target="#modalRecepcionCompra">Recepcionar Compra</button>
                    </div>
                    <div class="flex-fill ms-1">
                    <button class="btn btn-success w-100 m-0 proceder-btn" type="button" onclick="descargarPDF(this)" 
                    data-general="{{ data_general.cart_id }};{{ data_general.descripcion }};{{ data_general.proveedor }};{{ data_general.fecha_creacion }};{{ data_general.estado }}" 
                    data-resume="{{ data_resume.cantidad_articulos }} {{ data_resume.subtotal }} {{ data_resume.impuestos }} {{ data_resume.total }}" 
                    data-detail="{% for product in data_detail %}{{ product.id }}|{{ product.sku_producto }}|{{ product.descripcion_producto }}|{{ product.costo_neto }}|{{ product.cantidad }}, {% endfor %}">Descargar PDF</button>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>

<hr style="height: 2px; background-color: black;">

<div class="container-fluid mt-3">
    <div class="row">
        <div class="col-12">
            <table class="table table-hover table-striped">
                <thead class="table-dark text-light">
                    <tr>
                        <th>Producto</th>
                        <th>SKU</th>
                        <th>Costo Neto</th>
                        <th>Cantidad</th>
                        <th>Subtotal</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for product in data_detail %}
                    <tr id="product-{{ product.id }}">
                        <td>{{ product.descripcion_producto }}</td>
                        <td>{{ product.sku_producto }}</td>
                        {% if data_general.estado == 'Creado' %}
                            <td>
                                <input type="number" value="{{ product.costo_neto }}" min="1" class="form-control-sm quantity-input" id="costo-{{ product.id }}">
                            </td>
                            <td>
                                <input type="number" value="{{ product.cantidad }}" min="1" class="form-control-sm quantity-input" id="quantity-{{ product.id }}">
                            </td>
                        {% else %}
                            <td>${{ product.costo_neto }}</td>
                            <td>{{ product.cantidad }}</td>
                        {% endif %}
                        <td>${{ product.cantidad * product.costo_neto }}</td>
                        <td>
                            <button class="btn btn-sm btn-warning custom_btn" data-id="{{ product.id }}" data-cart-id="{{ product.cart_id }}" onclick="actualizarProducto(this)">Actualizar</button>
                            <a class="btn btn-sm btn-danger delete-btn" data-id="{{ product.id }}"
                            href="{{ url_for('compras.eliminar_producto', cart_id=product.cart_id, cart_detail_id=product.id, products_quantity=data_detail|length) }}" onclick="return confirm('¿Estas seguro que deseas eliminar este producto?')">Eliminar</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="modal fade" id="modalRecepcionCompra" tabindex="-1" aria-labelledby="modalRecepcionCompraLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalRecepcionCompraLabel">Recepción de Compra</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row m-0 align-items-start mb-3 ms-2">
                    <div class="col-auto p-0">
                        <span class="me-4">Rut: {{ data_general.rut }}</span>
                    </div>
                    <div class="col-auto p-0">
                        <span class="ms-4">Proveedor: {{ data_general.proveedor }}</span>
                    </div>
                </div>
                
                <div class="row m-0 align-items-center mb-3 ms-2" id="inputContainer">
                    <div class="col-auto p-0 me-2">
                        <label for="folioInput1" class="form-label">Numero de Folio:</label>
                        <input type="number" class="form-control d-inline-block folio-input" min="0" id="folioInput1" style="width: 120px;">
                    </div>
                </div>

                <div class="row m-0 align-items-end mb-3 ms-2">
                    <div class="col-auto p-0 me-4">
                        <label for="documentoSelect" class="form-label">Tipo de Documento:</label>
                        <select class="form-select d-inline-block" id="documentoSelect" aria-label="Tipo de Documento" style="width: auto;">
                            <option selected>Selecciona el tipo de documento</option>
                            <option value="sinDocumento">Sin Documento</option>
                            <option value="factura">Factura</option>
                            <option value="guiaDespacho">Guía de Despacho</option>
                        </select>
                    </div>
                    <div class="col-auto p-0 ms-4">
                        <label class="form-label me-2">Precio:</label>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="precioRadio" id="precioNeto" value="neto">
                            <label class="form-check-label" for="precioNeto">Neto</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="precioRadio" id="precioBruto" value="bruto" checked>
                            <label class="form-check-label" for="precioBruto">Bruto</label>
                        </div>
                    </div>
                </div>
                <hr>
                
                <div>
                    <table class="table table-hover table-striped">
                        <thead class="table-dark text-light">
                            <tr>
                                <th>SKU</th>
                                <th>Descripción</th>
                                <th>Cantidad</th>
                                <th>Precio Unitario</th>
                                <th>% Descuento</th>
                                <th>Subtotal</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for product in data_detail %}
                            <tr id="product-modal-{{ product.id }}">
                                <td>{{ product.sku_producto }}</td>
                                <td>{{ product.descripcion_producto }}</td>
                                <td>
                                    <input type="number" value="{{ product.cantidad }}" min="1" class="form-control-sm quantity-input" id="quantity-{{ product.id }}">
                                </td>
                                <td>
                                    <input type="number" value="{{ product.costo_neto }}" min="1" class="form-control-sm quantity-input" id="costo-{{ product.id }}">
                                </td>
                                <td>
                                    <input type="number" value="0" min="0" max="100" class="form-control-sm quantity-input" id="descuento-{{ product.id }}">
                                </td>
                                <td>${{ product.cantidad * product.costo_neto }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary">Proceder</button>
            </div>
        </div>
    </div>
</div>



{% endblock %}

{% block scripts %}
<script>
    document.addEventListener('DOMContentLoaded', (event) => {
        const maxInputs = 6;
        const inputContainer = document.getElementById('inputContainer');
    
        function addInput(index) {
            const newInputDiv = document.createElement('div');
            newInputDiv.classList.add('col-auto', 'p-0', 'me-2');
            const labelContent = index === 1 ? 'Numero de Folio:' : '+';
            newInputDiv.innerHTML = `
                <label for="folioInput${index}" class="form-label">${labelContent}</label>
                <input type="number" class="form-control d-inline-block folio-input ms-1" min="0" id="folioInput${index}" style="width: 120px;">
            `;
            inputContainer.appendChild(newInputDiv);
        }
    
        inputContainer.addEventListener('input', (event) => {
            if (event.target.classList.contains('folio-input')) {
                const allInputs = inputContainer.querySelectorAll('.folio-input');
                const lastInput = allInputs[allInputs.length - 1];
                if (lastInput.value !== '' && allInputs.length < maxInputs) {
                    addInput(allInputs.length + 1);
                }
            }
        });
    });

    function recepcionarCompra(element) {
        console.log('Recepcionar Compra');
    }

    function actualizarProducto(element) {
        var productId = element.getAttribute('data-id');
        var cartId = element.getAttribute('data-cart-id');
        var cantidad = document.getElementById('quantity-' + productId).value;
        var costo = document.getElementById('costo-' + productId).value;

        var data = {
            costo: costo,
            cantidad: cantidad,
            cart_id: cartId,
            cart_detail_id: productId
        };

        fetch("{{ url_for('compras.actualizar_producto_carro') }}", {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'Accept': 'application/json'
            },
            body: JSON.stringify(data)
        })
        .then(response => response.json())
        .then(data => {
            if (data.redirect) {
                window.location.href = data.redirect;
            }
        })
        .then(data => {
            console.log('Success:', data);
        })
        .catch((error) => {
            console.error('Error:', error);
        });
    }

    function emitirCompra(element) {
        var generalDataString = element.getAttribute('data-general');
        var generalDataParts = generalDataString.split(';');
        var generalData = {
            cartId: generalDataParts[0],
            descripcion: generalDataParts[1],
            proveedor: generalDataParts[2],
            fechaCreacion: generalDataParts[3],
            estado: generalDataParts[4]
        };

        var data = {
            general: generalData
        };

        fetch("{{ url_for('compras.emitir_compra') }}", {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'Accept': 'application/json'
            },
            body: JSON.stringify(data)
        })
        .then(response => response.json())
        .then(data => {
            if (data.redirect) {
                window.location.href = data.redirect;
            }
        })
        .then(data => {
            console.log('Success:', data);
        })
        .catch((error) => {
            console.error('Error:', error);
        });
    }
</script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.2/jspdf.min.js"></script>
<script>
    function descargarPDF(element) {
        var generalDataString = element.getAttribute('data-general');
        var generalDataParts = generalDataString.split(';');
        var generalData = {
            cartId: generalDataParts[0],
            descripcion: generalDataParts[1],
            proveedor: generalDataParts[2],
            fechaCreacion: generalDataParts[3],
            estado: generalDataParts[4]
        };

        var resumeDataString = element.getAttribute('data-resume');
        var resumeDataParts = resumeDataString.split(' ');
        var resumeData = {
            cantidadArticulos: resumeDataParts[0],
            subtotal: resumeDataParts[1],
            impuestos: resumeDataParts[2],
            total: resumeDataParts[3]
        };

        var detailDataString = element.getAttribute('data-detail');
        var detailDataArray = detailDataString.split(', ');
        var detailData = detailDataArray.map(function(detail) {
            var detailParts = detail.split('|');
            return {
                id: detailParts[0],
                skuProducto: detailParts[1],
                descripcionProducto: detailParts[2],
                costoNeto: detailParts[3],
                cantidad: detailParts[4]
            };
        });
        
        if (detailData[detailData.length - 1].id === '') {
            detailData.pop();
        }

        var data = {
            general: generalData,
            resume: resumeData,
            detail: detailData
        };

        var doc = new jsPDF();

        var y = 10;

        doc.text('ID del Carrito: ' + generalData.cartId, 10, y);
        y += 10;
        doc.text('Descripción: ' + generalData.descripcion, 10, y);
        y += 10;
        doc.text('Proveedor: ' + generalData.proveedor, 10, y);
        y += 10;
        doc.text('Fecha de Creación: ' + generalData.fechaCreacion, 10, y);
        y += 10;
        doc.text('Estado: ' + generalData.estado, 10, y);
        y += 20;

        doc.text('Resumen del Pedido:', 10, y);
        y += 10;
        doc.text('Cantidad de Artículos: ' + resumeData.cantidadArticulos, 10, y);
        y += 10;
        doc.text('Subtotal: ' + resumeData.subtotal, 10, y);
        y += 10;
        doc.text('Impuestos: ' + resumeData.impuestos, 10, y);
        y += 10;
        doc.text('Total: ' + resumeData.total, 10, y);
        y += 20;

        doc.text('Detalles del Pedido:', 10, y);
        y += 10;
        detailData.forEach(function(item) {
            doc.text('ID: ' + item.id + ', SKU: ' + item.skuProducto + ', Descripción: ' + item.descripcionProducto + ', Costo Neto: ' + item.costoNeto + ', Cantidad: ' + item.cantidad, 10, y);
            y += 10;
        });

        doc.save('compra-' + generalData.cartId + '.pdf');
    }

</script>
{% endblock %}