{% extends './layout.html' %}

{% block title %}RMM | Compras{% endblock %}

{% block body %}
{% include 'header.html' %}

<style>
    .btn-sm {
        min-width: 95px;
        text-align: center;
        font-size: 13px;
    }

    .container-fluid {
        max-width: 90%;
    }

    .custom_btn {
        margin: 0 0 0 0;
        border-color: #ffc107;
        color: black;
    }
    
    .custom_btn:hover {
        border-color: #dc3545;
        color: white;
    }

</style>

<div class="container-fluid mt-3">
    <div class="row">
        <div class="col-12 p-0">
            <table class="table table-hover table-striped">
                <thead class="table-dark text-light">
                    <tr>
                        <th>ID</th>
                        <th>Descripción</th>
                        <th>Fecha Creación</th>
                        <th>Proveedor</th>
                        <th>Subtotal Neto</th>
                        <th>Cantidad Productos</th>
                        <th>Estado</th>
                        <th>Rendimiento</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for cart_item in data %}
                    <tr id="cart-item-{{ cart_item.id }}">
                        <td>{{ cart_item.cart_id }}</td>
                        <td>{{ cart_item.descripcion }}</td>
                        <td>{{ cart_item.fecha_creacion }}</td>
                        <td>{{ cart_item.proveedor }}</td>
                        <td>${{ cart_item.monto_neto }}</td>
                        <td>{{ cart_item.cantidad_productos }}</td>
                        <td>{{ cart_item.estado }}</td>
                        <td>{{ cart_item.rendimiento }}</td>
                        <td>
                            {% if cart_item.estado == 'Recepcionada' %}
                                <a class="btn btn-sm btn-warning rendimiento-btn custom_btn"
                                href="{{ url_for('compras.rendimiento_compra', cart_id=cart_item.cart_id) }}">Analisis</a>
                            {% endif %}
                            {% if cart_item.estado != 'Recepcionada' %}
                                <a class="btn btn-sm btn-danger delete-btn" data-id="{{ cart_item.cart_id }}"
                                href="{{ url_for('compras.eliminar_carro', cart_id=cart_item.cart_id) }}" onclick="return confirm('¿Estas seguro que deseas eliminar este carro?')" >Eliminar</a>
                            {% endif %}
                        </td>
                    </tr>
                    {% else %}
                        <tr>
                            <td colspan="9">No hay compras disponibles.</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock %}

{% block scripts %}
<script>
    document.addEventListener('DOMContentLoaded', function () {
        document.querySelectorAll('tr[id^="cart-item-"]').forEach(row => {
            row.addEventListener('click', function(event) {
                if(event.target.tagName !== 'BUTTON') {
                    const cartId = this.cells[0].textContent.trim();
                    window.location.href = '/carro/' + cartId;
                }
            });
        });
    });
</script>
{% endblock %}
