<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE-edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <title>{% block title %} {% endblock %}</title>

    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" 
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

    <!-- Custom CSS -->
    {% block customCSS %}
    {% endblock %}

    <!-- Estilos para el layout -->
    <style>
        html, body {
            margin: 0;
            padding: 0;
            min-height: 100vh;
            height: 100%;
            max-width: 100%;
            overflow-x: hidden;
        }

        body {
            display: flex;
            flex-direction: column;
        }

        .content-wrapper {
            flex-grow: 1; /* Permite que el contenido principal crezca */
        }
    </style>
</head>
<body class="text-center d-flex flex-column">
    <div class="content-wrapper">
        {% block body %}
        {% endblock %}
    </div>

    {% include 'footer.html' %}

    <!-- Scripts -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" 
    integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>

    <script>
        // Manejo de mensajes flash como pop-ups
        document.addEventListener('DOMContentLoaded', () => {
            const flashMessages = document.querySelectorAll('.flash-message');
          
            flashMessages.forEach((msg) => {
                const messageType = msg.getAttribute('data-type');
                const messageContent = msg.getAttribute('data-message');
          
                // SweetAlert2 para mostrar los mensajes
                Swal.fire({
                    icon: messageType,
                    title: messageType === 'success' ? 'Éxito' : 'Error',
                    text: messageContent,
                    timer: 3000
                });
            });
        });
    </script>
    
    {% block scripts %}
    {% endblock %}
    
</body>
</html>
