{% extends './layout.html' %}

{% block title %}RMM | Carro de Compras{% endblock %}

{% block body %}
{% include 'header.html' %}


<style>
    .add-product-button {
        text-align: left;
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 10px;
        padding: 0 0 0 0;
    }

    .container-fluid {
        max-width: 90%;
    }
    
    .custom_btn {
        margin: 0 0 0 0;
        border-color: #ffc107;
        color: black;
    }
    
    .custom_btn:hover {
        border-color: #dc3545;
        color: white;
    }

    .proceder-btn {
        margin: 0 0 0 0;
        border-color: #28a745;
    }

    .proceder-btn:hover {
        border-color: #dc3545;
        color: white;
    }
</style>

<div class="container-fluid mt-3">
    <div class="row">
        <div class="row m-0 align-items-start mb-3 ms-2">
            <div class="col-auto p-0">
                <span class="me-4">Rut: {{ data_general.rut }}</span>
            </div>
            <div class="col-auto p-0">
                <span class="ms-4">Proveedor: {{ data_general.proveedor }}</span>
            </div>
        </div>

        <div class="row m-0 align-items-center mb-3 ms-2" id="inputContainer">
            <div class="col-auto p-0 me-2">
                <label for="folioInput1" class="form-label">Numero de Folio:</label>
                <input type="number" class="form-control d-inline-block folio-input" min="1" id="folioInput1" style="width: 120px;">
            </div>
        </div>

        <div class="row m-0 align-items-end mb-3 ms-2">
            <div class="col-auto p-0 me-4">
                <label for="documentoSelect" class="form-label">Tipo de Documento:</label>
                <select class="form-select d-inline-block" id="documentoSelect" aria-label="Tipo de Documento" style="width: auto;">
                    <option selected>Selecciona el tipo de documento</option>
                    <option value="sinDocumento">Sin Documento</option>
                    <option value="factura">Factura</option>
                    <option value="guiaDespacho">Guía de Despacho</option>
                </select>
            </div>
            <div class="col-auto p-0 ms-4">
                <label class="form-label me-2">Precio:</label>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="precioRadio" id="precioNeto" value="neto">
                    <label class="form-check-label" for="precioNeto">Neto</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="precioRadio" id="precioBruto" value="bruto" checked>
                    <label class="form-check-label" for="precioBruto">Bruto</label>
                </div>
            </div>
        </div>
        <hr>
        <div class="col-12 add-product-button d-flex justify-content-end">
            <div class="d-flex">
                <form action="{{ url_for('compras.agregar_producto_recepcion', cart_id=data_general.cart_id, search=search_query) }}" method="get" class="input-group">
                    <input type="text" name="search" class="form-control shadow" placeholder="Buscar..." value="{{ search_query }}">
                    <button type="submit" class="btn btn-warning m-0 border-2 custom_btn shadow">Agregar</button>
                </form>
            </div>
        </div>
        <div class="col-12 p-0">
            <table class="table table-hover table-striped">
                <thead class="table-dark text-light">
                    <tr>
                        <th>SKU</th>
                        <th>Descripción</th>
                        <th>Cantidad</th>
                        <th>Precio Unitario</th>
                        <th>% Descuento</th>
                        <th>Total Items</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for product in data_detail %}
                    <tr id="product-modal-{{ product.id }}">
                        <td>{{ product.sku_producto }}</td>
                        <td>{{ product.descripcion_producto }}</td>
                        <td>
                            <input type="number" value="{{ product.cantidad }}" min="1" class="form-control-sm quantity-input width" id="quantity-{{ product.id }}" style="width: 100px">
                        </td>
                        <td>
                            <input type="number" value="{{ product.costo_neto }}" min="1" class="form-control-sm cost-input" id="costo-{{ product.id }}" style="width: 100px">
                        </td>
                        <td>
                            <input type="number" value="0" min="0" max="100" class="form-control-sm discount-input" id="descuento-{{ product.id }}" style="width: 100px">
                        </td>
                        <td>$ {{ product.cantidad * product.costo_neto }}</td>
                        <td>
                            <a class="btn btn-sm btn-danger delete-btn" data-id="{{ product.id }}"
                                href="{{ url_for('compras.eliminar_producto', cart_id=product.cart_id, cart_detail_id=product.id, products_quantity=data_detail|length, state=data_general.estado) }}" onclick="return confirm('¿Estas seguro que deseas eliminar este producto?')">Eliminar</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="d-flex justify-content-between w-100">
            <div class="container">
                <div class="row g-2">
                    <div class="col-auto d-flex justify-content-start me-3">
                        <p class="fw-bold m-0 me-2">Subtotal:</p>
                        <p class="subtotal">$</p>
                    </div>
                    <!-- Ajusta las clases de Bootstrap para un espaciado menor -->
                    <div class="col-auto d-flex justify-content-start me-3">
                        <p class="fw-bold m-0 me-2">Descuento:</p>
                        <p class="discount">%</p>
                    </div>
                    <div class="col-auto d-flex justify-content-start me-3">
                        <p class="fw-bold m-0 me-2">Cantidad de Items:</p>
                        <p class="total-items"></p>
                    </div>
                </div>
                <div class="row g-2">
                    <div class="col-auto d-flex justify-content-start me-3">
                        <p class="fw-bold m-0 me-2">Neto:</p>
                        <p class="neto-bruto">$</p>
                    </div>
                    <div class="col-auto d-flex justify-content-start me-3">
                        <p class="fw-bold m-0 me-2">IVA:</p>
                        <p class="iva">$</p>
                    </div>
                    <div class="col-auto d-flex justify-content-start me-3">
                        <p class="fw-bold m-0 me-2">Total:</p>
                        <p class="total">$</p>
                    </div>
                </div>
            </div>
            <div class="d-flex align-items-center gap-2">
                <button type="button" class="btn btn-primary">Siguiente</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script>
    document.addEventListener('DOMContentLoaded', function () {
        const quantityInputs = document.querySelectorAll('.quantity-input');
        const discountInputs = document.querySelectorAll('.discount-input');
        const costInputs = document.querySelectorAll('.cost-input');
    
        function enforceMinMax(el) {
            if (el.value !== '') {
                let value = parseInt(el.value);
                if (value < parseInt(el.min)) {
                    el.value = el.min;
                } else if (value > parseInt(el.max)) {
                    el.value = el.max;
                }
            }
        }
    
        quantityInputs.forEach(input => {
            input.addEventListener('input', function () {
                enforceMinMax(this);
            });
        });
    
        discountInputs.forEach(input => {
            input.addEventListener('input', function () {
                enforceMinMax(this);
            });
        });

        costInputs.forEach(input => {
            input.addEventListener('input', function () {
                enforceMinMax(this);
            });
        });
    });
    
    $(document).ready(function() {
        function updateItemTotal() {
            var subtotal = 0;
            var totalCantidad = 0;
            var totalSinDescuento = 0;
            var totalConDescuento = 0;
            
            $('tr[id^="product-modal-"]').each(function() {
                var $row = $(this);
                var quantity = parseFloat($row.find('.quantity-input').val()) || 0;
                var cost = parseFloat($row.find('.cost-input').val()) || 0;
                var discountPercentage = parseFloat($row.find('.discount-input').val()) / 100 || 0;
    
                var totalItemSinDescuento = quantity * cost;
                var totalItemConDescuento = totalItemSinDescuento * (1 - discountPercentage);
    
                $row.find('td').eq(5).text('$ ' + totalItemConDescuento.toFixed(2));
    
                subtotal += totalItemConDescuento;
                totalCantidad += quantity;
                totalSinDescuento += totalItemSinDescuento;
                totalConDescuento += totalItemConDescuento;
            });

            $('.subtotal').text('$' + subtotal.toFixed(2));
            updateNetoBrutoIVA(subtotal);
            updateCantidadItems(totalCantidad);

            updateDescuentoTotal(totalSinDescuento, totalConDescuento);
        }

        function updateNetoBrutoIVA(subtotal) {
            var tipoPrecio = $('input[name="precioRadio"]:checked').val();
            var valorFinal = 0;
            var iva = 0;
            
            if(tipoPrecio === 'neto') {
                valorFinal = subtotal;
                iva = valorFinal * 0.19;
            } else if(tipoPrecio === 'bruto') {
                valorFinal = subtotal / 1.19;
                iva = valorFinal * 0.19;
            }

            $('.neto-bruto').text('$' + valorFinal.toFixed(2));
            $('.iva').text('$' + iva.toFixed(2));
            var total = valorFinal + iva;
            $('.total').text('$' + total.toFixed(2));
        }

        function updateCantidadItems(totalCantidad) {
            $('.total-items').text(totalCantidad);
        }

        function updateDescuentoTotal(totalSinDescuento, totalConDescuento) {
            var descuentoTotal = (1 - (totalConDescuento / totalSinDescuento)) * 100 || 0;
            $('.discount').text(descuentoTotal.toFixed(2) + '%');
        }

        $('.quantity-input, .cost-input, .discount-input').on('input', updateItemTotal);
        $('input[name="precioRadio"]').on('change', updateItemTotal);

        updateItemTotal();
    });

    document.addEventListener('DOMContentLoaded', (event) => {
        const maxInputs = 6;
        const inputContainer = document.getElementById('inputContainer');
    
        function addInput(index) {
            const newInputDiv = document.createElement('div');
            newInputDiv.classList.add('col-auto', 'p-0', 'me-2');
            const labelContent = index === 1 ? 'Numero de Folio:' : '+';
            newInputDiv.innerHTML = `
                <label for="folioInput${index}" class="form-label">${labelContent}</label>
                <input type="number" class="form-control d-inline-block folio-input ms-1" min="0" id="folioInput${index}" style="width: 120px;">
            `;
            inputContainer.appendChild(newInputDiv);
        }
    
        inputContainer.addEventListener('input', (event) => {
            if (event.target.classList.contains('folio-input')) {
                const allInputs = inputContainer.querySelectorAll('.folio-input');
                const lastInput = allInputs[allInputs.length - 1];
                if (lastInput.value !== '' && allInputs.length < maxInputs) {
                    addInput(allInputs.length + 1);
                }
            }
        });
    });

    function recepcionarCompra(element) {
        console.log('Recepcionar Compra');
    }
</script>
{% endblock %}