{% extends './layout.html' %}

{% block title %}RMM | Carro de Compras{% endblock %}

{% block body %}
{% include 'header.html' %}


<style>
    .add-product-button {
        text-align: left;
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 10px;
        padding: 0 0 0 0;
    }

    .container-fluid {
        max-width: 90%;
    }
    
    .custom_btn {
        margin: 0 0 0 0;
        border-color: #ffc107;
        color: black;
    }
    
    .custom_btn:hover {
        border-color: #dc3545;
        color: white;
    }

    .proceder-btn {
        margin: 0 0 0 0;
        border-color: #28a745;
    }

    .proceder-btn:hover {
        border-color: #dc3545;
        color: white;
    }

    .add-dates-button {
        text-align: left;
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 10px;
        padding: 0 0 0 0;
    }

    #dateInputContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .date-input-group {
        display: flex;
        align-items: baseline;
        justify-content: center;
        gap: 10px;
        width: 80%;
    }

    .date-label {
        margin-bottom: 0;
    }

    .date-input {
        width: auto;
    }
</style>

<div class="container-fluid mt-3">
    <div class="row">
        <div class="row m-0 align-items-start mb-3 ms-2">
            <div class="col-auto p-0">
                <span class="me-4">Rut: {{ data_general.rut }}</span>
            </div>
            <div class="col-auto p-0">
                <span class="ms-4">Proveedor: {{ data_general.proveedor }}</span>
            </div>
            <div class="col-auto p-0">
                <span class="ms-4">Sucursal: </span>
            </div>
        </div>

        <div class="row m-0 align-items-center mb-3 ms-2" id="inputContainer">
            <div class="col-auto p-0 me-2">
                <label for="folioInput1" class="form-label">Numero de Folio:</label>
                <input type="number" class="form-control d-inline-block folio-input" min="1" id="folioInput1" style="width: 120px;">
            </div>
        </div>

        <div class="row m-0 align-items-end mb-3 ms-2">
            <div class="col-auto p-0 me-4">
                <label for="documentoSelect" class="form-label">Tipo de Documento:</label>
                <select class="form-select d-inline-block" id="documentoSelect" aria-label="Tipo de Documento" style="width: auto;">
                    <option selected>Selecciona el tipo de documento</option>
                    <option value="sinDocumento">Sin Documento</option>
                    <option value="factura">Factura</option>
                    <option value="guiaDespacho">Guía de Despacho</option>
                </select>
            </div>
            <div class="col-auto p-0 ms-4">
                <label class="form-label me-2">Precio:</label>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="precioRadio" id="precioNeto" value="neto" checked>
                    <label class="form-check-label" for="precioNeto">Neto</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="precioRadio" id="precioBruto" value="bruto">
                    <label class="form-check-label" for="precioBruto">Bruto</label>
                </div>
            </div>
        </div>
        <hr>
        <div class="col-12 add-product-button d-flex justify-content-between">
            <button class="btn btn-warning m-0 border-2 custom_btn shadow" data-bs-toggle="modal" data-bs-target="#agregarFechasModal" data-cartid="{{ data_general.cart_id }}">Editar Fechas de Pago</button>
            <div class="d-flex">
                <form action="{{ url_for('compras.agregar_producto_recepcion', cart_id=data_general.cart_id, search=search_query) }}" method="get" class="input-group">
                    <input type="text" name="search" class="form-control shadow" placeholder="Buscar..." value="{{ search_query }}">
                    <button type="submit" class="btn btn-warning m-0 border-2 custom_btn shadow">Agregar</button>
                </form>
            </div>
        </div>
        <div class="col-12 p-0">
            <table class="table table-hover table-striped">
                <thead class="table-dark text-light">
                    <tr>
                        <th>SKU</th>
                        <th>Descripción</th>
                        <th>Cantidad</th>
                        <th>Precio Unitario</th>
                        <th>% Descuento</th>
                        <th>Total Items</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for product in data_detail %}
                    <tr id="product-modal-{{ product.id }}">
                        <td>{{ product.sku_producto }}</td>
                        <td>{{ product.descripcion_producto }}</td>
                        <td>
                            <input type="number" value="{{ product.cantidad }}" min="1" class="form-control-sm quantity-input width" id="quantity-{{ product.id }}" style="width: 100px">
                        </td>
                        <td>
                            <input type="number" value="{{ product.costo_neto }}" min="1" class="form-control-sm cost-input" id="costo-{{ product.id }}" data-original-cost="{{ product.costo_neto }}" style="width: 100px">
                        </td>
                        
                        <td>
                            <input type="number" value="0" min="0" max="100" class="form-control-sm discount-input" id="descuento-{{ product.id }}" style="width: 100px">
                        </td>
                        <td>$ {{ product.cantidad * product.costo_neto }}</td>
                        <td>
                            <a class="btn btn-sm btn-danger delete-btn" data-id="{{ product.id }}"
                                href="{{ url_for('compras.eliminar_producto', cart_id=product.cart_id, cart_detail_id=product.id, products_quantity=data_detail|length, state=data_general.estado) }}" onclick="return confirm('¿Estas seguro que deseas eliminar este producto?')">
                                Eliminar
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="d-flex justify-content-between w-100">
            <div class="container">
                <div class="row g-2">
                    <div class="col-auto d-flex justify-content-start me-3">
                        <p class="fw-bold m-0 me-2">Subtotal:</p>
                        <p class="subtotal">$</p>
                    </div>
                    <div class="col-auto d-flex justify-content-start me-3">
                        <p class="fw-bold m-0 me-2">Descuento:</p>
                        <p class="discount">%</p>
                    </div>
                    <div class="col-auto d-flex justify-content-start me-3">
                        <p class="fw-bold m-0 me-2">Cantidad de Items:</p>
                        <p class="total-items"></p>
                    </div>
                </div>
                <div class="row g-2">
                    <div class="col-auto d-flex justify-content-start me-3">
                        <p class="fw-bold m-0 me-2">Neto:</p>
                        <p class="neto-bruto">$</p>
                    </div>
                    <div class="col-auto d-flex justify-content-start me-3">
                        <p class="fw-bold m-0 me-2">IVA:</p>
                        <p class="iva">$</p>
                    </div>
                    <div class="col-auto d-flex justify-content-start me-3">
                        <p class="fw-bold m-0 me-2">Total:</p>
                        <p class="total">$</p>
                    </div>
                </div>
            </div>
            <div class="d-flex align-items-center gap-2">
                <button type="button" class="btn btn-primary">Siguiente</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="agregarFechasModal" tabindex="-1" aria-labelledby="agregarFechasModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="agregarFechasLabel">Agregar Fechas</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div id="dateInputContainer"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-warning custom_btn btn-save-changes">Guardar Cambios</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script>
    document.addEventListener('DOMContentLoaded', (event) => {
        const dateInputContainer = document.getElementById('dateInputContainer');
    
        function addDateInput(index, date = '') {
            const newDateInputDiv = document.createElement('div');
            newDateInputDiv.classList.add('date-input-group', 'mb-3', 'd-flex', 'align-items-center');
            newDateInputDiv.innerHTML = `
                <label class="date-label me-2" for="dateInput${index}">Fecha ${index}:</label>
                <input type="date" class="form-control date-input me-2" id="dateInput${index}" value="${date}">
                <button type="button" class="btn btn-danger btn-sm delete-date-btn ms-0" data-index="${index}">&times;</button>
            `;
            dateInputContainer.appendChild(newDateInputDiv);
        
            newDateInputDiv.querySelector('.delete-date-btn').addEventListener('click', function() {
                const allDateInputs = dateInputContainer.querySelectorAll('.date-input-group');
                if(allDateInputs.length > 1) {
                    newDateInputDiv.remove();
                } else {
                    newDateInputDiv.querySelector('.date-input').value = '';
                }
                reindexDateInputs();
                ensureEmptyInput();
            });
            
        }

        function reindexDateInputs() {
            const allDateInputs = dateInputContainer.querySelectorAll('.date-input-group');
            allDateInputs.forEach((div, index) => {
                const newIndex = index + 1;
                div.querySelector('.date-label').innerHTML = `Fecha ${newIndex}:`;
                div.querySelector('.date-input').id = `dateInput${newIndex}`;
                div.querySelector('.delete-date-btn').setAttribute('data-index', newIndex);
            });
        }

        dateInputContainer.addEventListener('input', (event) => {
            if (event.target.classList.contains('date-input')) {
                const allDateInputs = dateInputContainer.querySelectorAll('.date-input');
                const lastDateInput = allDateInputs[allDateInputs.length - 1];
                if (lastDateInput.value !== '') {
                    addDateInput(allDateInputs.length + 1);
                }
            }
        });

        function ensureEmptyInput() {
            const allDateInputs = dateInputContainer.querySelectorAll('.date-input');
            const lastDateInput = allDateInputs[allDateInputs.length - 1];
            if (lastDateInput && lastDateInput.value !== '') {
                addDateInput(allDateInputs.length + 1);
            } else if (allDateInputs.length === 0) {
                addDateInput(1);
            }
        }
    
        function loadPayDates(cartId) {
            fetch(`/obtener_fechas_de_pago/${cartId}`)
                .then(response => response.json())
                .then(data => {
                    if (data.length > 0) {
                        data.forEach((date, index) => addDateInput(index + 1, date));
                    }
                    ensureEmptyInput();
                });
        }

        document.querySelector('.btn-save-changes').addEventListener('click', function() {
            const allDateInputs = document.querySelectorAll('.date-input');
            const dates = Array.from(allDateInputs).map(input => input.value).filter(value => value !== '');
            const modal = document.getElementById('agregarFechasModal'); // Acceder al modal
            const cartId = $(modal).data('cartid'); // Obtener el cartId almacenado en el modal
            const state = 'recepcionado'

            fetch(`/actualizar_fechas_de_pago/${cartId}/${state}`, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({dates}),
            })
            .then(response => response.json())
            .then(data => {
                if (data.redirect) {
                    window.location.href = data.redirect;
                }
            });
        });

        $('#agregarFechasModal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget); // Botón que activó el modal
            var cartId = button.data('cartid'); // Extraer el cartId del botón que abrió el modal
        
            // Limpiar el contenedor de inputs antes de cargar nuevas fechas
            dateInputContainer.innerHTML = '';
        
            $(this).data('cartid', cartId);
            loadPayDates(cartId);
        });
        
        
    });

    document.addEventListener('DOMContentLoaded', function () {
        const quantityInputs = document.querySelectorAll('.quantity-input');
        const discountInputs = document.querySelectorAll('.discount-input');
        const costInputs = document.querySelectorAll('.cost-input');
    
        function enforceMinMax(el) {
            if (el.value !== '') {
                let value = parseInt(el.value);
                if (value < parseInt(el.min)) {
                    el.value = el.min;
                } else if (value > parseInt(el.max)) {
                    el.value = el.max;
                }
            }
        }
    
        quantityInputs.forEach(input => {
            input.addEventListener('input', function () {
                enforceMinMax(this);
            });
        });
    
        discountInputs.forEach(input => {
            input.addEventListener('input', function () {
                enforceMinMax(this);
            });
        });

        costInputs.forEach(input => {
            input.addEventListener('input', function () {
                enforceMinMax(this);
            });
        });
    });
    
    $(document).ready(function() {
        function updateItemTotal() {
            var subtotal = 0;
            var totalCantidad = 0;
            var totalSinDescuento = 0;
            var totalConDescuento = 0;
            var cost = 0;
            
            $('tr[id^="product-modal-"]').each(function() {
                var $row = $(this);
                var quantity = parseFloat($row.find('.quantity-input').val()) || 0;
                var originalCost = parseFloat($row.find('.cost-input').data('original-cost')) || 0;
                var discountPercentage = parseFloat($row.find('.discount-input').val()) / 100 || 0;
                
                cost = updateNetoBrutoCost(originalCost, $row);

                var totalItemSinDescuento = quantity * cost;
                var totalItemConDescuento = totalItemSinDescuento * (1 - discountPercentage);
    
                $row.find('td').eq(5).text('$ ' + totalItemConDescuento.toFixed(2));
                
                subtotal += totalItemConDescuento;
                totalCantidad += quantity;
                totalSinDescuento += totalItemSinDescuento;
                totalConDescuento += totalItemConDescuento;
            });

            $('.subtotal').text('$' + subtotal.toFixed(2));
            updateNetoBrutoIVA(subtotal);
            updateCantidadItems(totalCantidad);

            updateDescuentoTotal(totalSinDescuento, totalConDescuento);
        }

        function updateNetoBrutoCost(originalCost, $row) {
            var tipoPrecio = $('input[name="precioRadio"]:checked').val();
            var valorFinal = 0;
            
            if(tipoPrecio === 'neto') {
                valorFinal = originalCost;
            } else if(tipoPrecio === 'bruto') {
                valorFinal = originalCost * 1.19;
            }

            parseFloat($row.find('.cost-input').val(valorFinal.toFixed(2)));
            return valorFinal;
        }

        function updateNetoBrutoIVA(subtotal) {
            var tipoPrecio = $('input[name="precioRadio"]:checked').val();
            var valorFinal = 0;
            var iva = 0;
            
            if(tipoPrecio === 'neto') {
                valorFinal = subtotal;
                iva = valorFinal * 0.19;
            } else if(tipoPrecio === 'bruto') {
                valorFinal = subtotal / 1.19;
                iva = valorFinal * 0.19;
            }

            $('.neto-bruto').text('$' + valorFinal.toFixed(2));
            $('.iva').text('$' + iva.toFixed(2));
            var total = valorFinal + iva;
            $('.total').text('$' + total.toFixed(2));
        }

        function updateCantidadItems(totalCantidad) {
            $('.total-items').text(totalCantidad);
        }

        function updateDescuentoTotal(totalSinDescuento, totalConDescuento) {
            var descuentoTotal = (1 - (totalConDescuento / totalSinDescuento)) * 100 || 0;
            $('.discount').text(descuentoTotal.toFixed(2) + '%');
        }

        $('.quantity-input, .cost-input, .discount-input').on('input', updateItemTotal);
        $('input[name="precioRadio"]').on('change', updateItemTotal);

        updateItemTotal();
    });

    document.addEventListener('DOMContentLoaded', (event) => {
        const maxInputs = 6;
        const inputContainer = document.getElementById('inputContainer');
    
        function addInput(index) {
            const newInputDiv = document.createElement('div');
            newInputDiv.classList.add('col-auto', 'p-0', 'me-2');
            const labelContent = index === 1 ? 'Numero de Folio:' : '+';
            newInputDiv.innerHTML = `
                <label for="folioInput${index}" class="form-label">${labelContent}</label>
                <input type="number" class="form-control d-inline-block folio-input ms-1" min="0" id="folioInput${index}" style="width: 120px;">
            `;
            inputContainer.appendChild(newInputDiv);
        }
    
        inputContainer.addEventListener('input', (event) => {
            if (event.target.classList.contains('folio-input')) {
                const allInputs = inputContainer.querySelectorAll('.folio-input');
                const lastInput = allInputs[allInputs.length - 1];
                if (lastInput.value !== '' && allInputs.length < maxInputs) {
                    addInput(allInputs.length + 1);
                }
            }
        });
    });

    function recepcionarCompra(element) {
        console.log('Recepcionar Compra');
    }
</script>
{% endblock %}