{% extends './layout.html' %}

{% block title %}RMM | Carro de Compras{% endblock %}

{% block body %}
{% include 'header.html' %}


<style>
    .add-product-button {
        text-align: left;
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 10px;
        padding: 0 0 0 0;
    }

    .container-fluid {
        max-width: 90%;
    }
    
    .custom_btn {
        margin: 0 0 0 0;
        border-color: #ffc107;
        color: black;
    }
    
    .custom_btn:hover {
        border-color: #dc3545;
        color: white;
    }

    .proceder-btn {
        margin: 0 0 0 0;
        border-color: #28a745;
    }

    .proceder-btn:hover {
        border-color: #dc3545;
        color: white;
    }

    .add-dates-button {
        text-align: left;
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 10px;
        padding: 0 0 0 0;
    }

    #dateInputContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .date-input-group {
        display: flex;
        align-items: baseline;
        justify-content: center;
        gap: 10px;
        width: 80%;
    }

    .date-label {
        margin-bottom: 0;
    }

    .date-input {
        width: auto;
    }
</style>

<div class="container-fluid mt-3">
    <div class="row">
        <div class="row m-0 align-items-start mb-3 ms-2">
            <div class="col-auto p-0">
                <span class="me-4" data-rut="{{ data_general.rut }}">Rut: {{ data_general.rut }}</span>
            </div>
            <div class="col-auto p-0">
                <span class="ms-4" data-business-name="{{ data_general.razon_social }}">Proveedor: {{ data_general.proveedor }}</span>
            </div>
        </div>

        <div class="row m-0 align-items-start mb-3 ms-2">
            <div class="col-auto p-0">
                <label for="sucursalSelect" class="form-label">Sucursal:</label>
                <select class="form-select d-inline-block" id="sucursalSelect" aria-label="Sucursal" required style="width: auto;">
                    <option selected value="">Selecciona una sucursal</option>
                    {% for office in offices %}
                        {% if office.active_state == '0' %}
                            <option value="{{ office.id }}">{{ office.name }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
            </div>
        </div>

        <div class="row m-0 align-items-center mb-3 ms-2" id="inputContainer">
            <div class="col-auto p-0 me-2">
                <label for="folioInput1" class="form-label">Numero de Folio:</label>
                <input type="number" class="form-control d-inline-block folio-input" min="1" id="folioInput1" required style="width: 120px;">
            </div>
        </div>

        <div class="row m-0 align-items-end mb-3 ms-2">
            <div class="col-auto p-0 me-4">
                <label for="documentoSelect" class="form-label">Tipo de Documento:</label>
                <select class="form-select d-inline-block" id="documentoSelect" aria-label="Tipo de Documento" requiered style="width: auto;">
                    <option selected value="">Selecciona el tipo de documento</option>
                    <option value="Sin Documento">Sin Documento</option>
                    <option value="Factura">Factura</option>
                    <option value="Guía">Guía de Despacho</option>
                </select>
            </div>
            <div class="col-auto p-0 ms-4">
                <label class="form-label me-2">Precio:</label>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="precioRadio" id="precioNeto" value="neto" checked>
                    <label class="form-check-label" for="precioNeto">Neto</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="precioRadio" id="precioBruto" value="bruto">
                    <label class="form-check-label" for="precioBruto">Bruto</label>
                </div>
            </div>
        </div>
        <hr>
        <div class="col-12 add-product-button d-flex justify-content-between">
            <button class="btn btn-warning m-0 border-2 custom_btn shadow" data-bs-toggle="modal" data-bs-target="#agregarFechasModal" data-cartid="{{ data_general.cart_id }}">Editar Fechas de Pago</button>
            <div class="d-flex">
                <form action="{{ url_for('compras.agregar_producto_recepcion', cart_id=data_general.cart_id, search=search_query) }}" method="get" class="input-group">
                    <input type="text" name="search" class="form-control shadow" placeholder="Buscar..." value="{{ search_query }}">
                    <button type="submit" class="btn btn-warning m-0 border-2 custom_btn shadow">Agregar</button>
                </form>
            </div>
        </div>
        <div class="col-12 p-0">
            <table class="table table-hover table-striped">
                <thead class="table-dark text-light">
                    <tr>
                        <th>N° Folio</th>
                        <th>SKU</th>
                        <th>Descripción</th>
                        <th>Cantidad</th>
                        <th>Precio Unitario</th>
                        <th>% Descuento</th>
                        <th>Total Items</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for product in data_detail %}
                    <tr id="product-modal-{{ product.id }}" data-variant-id="{{ product.variant_id }}">
                        <td>
                            <input type="number" value="" min="0" class="form-control-sm product-folio-input" id="product-folio-{{ product.id }}" style="width: 90px;">
                        </td>
                        <td>{{ product.sku_producto }}</td>
                        <td>{{ product.descripcion_producto }}</td>
                        <td>
                            <input type="number" value="{{ product.cantidad }}" min="1" class="form-control-sm quantity-input width" id="quantity-{{ product.id }}" style="width: 60px">
                        </td>
                        <td>
                            <input type="number" value="{{ product.costo_neto }}" min="1" class="form-control-sm cost-input" id="costo-{{ product.id }}" data-original-cost="{{ product.costo_neto }}" style="width: 100px">
                        </td>
                        <td>
                            <input type="number" value="0" min="0" max="100" class="form-control-sm discount-input" id="descuento-{{ product.id }}" style="width: 100px">
                        </td>
                        <td>$ {{ product.cantidad * product.costo_neto }}</td>
                        <td>
                            <a class="btn btn-sm btn-danger delete-btn" data-id="{{ product.id }}"
                                href="{{ url_for('compras.eliminar_producto', cart_id=product.cart_id, cart_detail_id=product.id, products_quantity=data_detail|length, state=data_general.estado) }}" onclick="return confirm('¿Estas seguro que deseas eliminar este producto?')">
                                Eliminar
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="d-flex justify-content-between w-100">
            <div class="container">
                <div class="row g-2">
                    <div class="col-auto d-flex justify-content-start me-3">
                        <p class="fw-bold m-0 me-2">Subtotal:</p>
                        <p class="subtotal">$</p>
                    </div>
                    <div class="col-auto d-flex justify-content-start me-3">
                        <p class="fw-bold m-0 me-2">Descuento:</p>
                        <p class="discount">%</p>
                    </div>
                    <div class="col-auto d-flex justify-content-start me-3">
                        <p class="fw-bold m-0 me-2">Cantidad de Items:</p>
                        <p class="total-items"></p>
                    </div>
                </div>
                <div class="row g-2">
                    <div class="col-auto d-flex justify-content-start me-3">
                        <p class="fw-bold m-0 me-2">Neto:</p>
                        <p class="neto-bruto">$</p>
                    </div>
                    <div class="col-auto d-flex justify-content-start me-3">
                        <p class="fw-bold m-0 me-2">IVA:</p>
                        <p class="iva">$</p>
                    </div>
                    <div class="col-auto d-flex justify-content-start me-3">
                        <p class="fw-bold m-0 me-2">Total:</p>
                        <p class="total">$</p>
                    </div>
                </div>
            </div>
            {% if data_general.estado == "Emitida" %}
            <div class="d-flex align-items-center gap-2">
                <button type="button" id="submitButton" class="btn btn-success proceder-btn" data-pay-dates-len="{{ pay_dates_len }}" data-cart-id="{{ data_general.cart_id }}">Recepcionar</button>
            </div>
            {% endif %}
        </div>
    </div>
</div>

<div class="modal fade" id="agregarFechasModal" tabindex="-1" aria-labelledby="agregarFechasModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="agregarFechasLabel">Agregar Fechas</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div id="dateInputContainer"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-warning custom_btn btn-save-changes">Guardar Cambios</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script>
    document.addEventListener('DOMContentLoaded', () => {
        const dateInputContainer = document.getElementById('dateInputContainer');
    
        function addDateInput(index, date = '') {
            const newDateInputDiv = document.createElement('div');
            newDateInputDiv.className = 'date-input-group mb-3 d-flex align-items-center';
    
            const label = document.createElement('label');
            label.className = 'date-label me-2';
            label.setAttribute('for', `dateInput${index}`);
            label.textContent = `Fecha ${index}:`;
    
            const input = document.createElement('input');
            input.type = 'date';
            input.className = 'form-control date-input me-2';
            input.id = `dateInput${index}`;
            input.value = date;
    
            const button = document.createElement('button');
            button.type = 'button';
            button.className = 'btn btn-danger btn-sm delete-date-btn ms-0';
            button.setAttribute('data-index', index);
            button.innerHTML = '&times;';
            button.addEventListener('click', function() {
                const allDateInputs = dateInputContainer.querySelectorAll('.date-input-group');
                if(allDateInputs.length > 1) {
                    newDateInputDiv.remove();
                } else {
                    input.value = '';
                }
                reindexDateInputs();
                ensureEmptyInput();
            });
    
            newDateInputDiv.appendChild(label);
            newDateInputDiv.appendChild(input);
            newDateInputDiv.appendChild(button);
    
            dateInputContainer.appendChild(newDateInputDiv);
        }
    
        function reindexDateInputs() {
            const allDateInputs = dateInputContainer.querySelectorAll('.date-input-group');
            allDateInputs.forEach((div, index) => {
                const newIndex = index + 1;
                div.querySelector('.date-label').textContent = `Fecha ${newIndex}:`;
                div.querySelector('.date-input').id = `dateInput${newIndex}`;
                div.querySelector('.delete-date-btn').setAttribute('data-index', newIndex);
            });
        }
    
        dateInputContainer.addEventListener('input', (event) => {
            if (event.target.classList.contains('date-input')) {
                const allDateInputs = dateInputContainer.querySelectorAll('.date-input');
                const lastDateInput = allDateInputs[allDateInputs.length - 1];
                if (lastDateInput.value !== '') {
                    addDateInput(allDateInputs.length + 1);
                }
            }
        });
    
        function ensureEmptyInput() {
            const allDateInputs = dateInputContainer.querySelectorAll('.date-input');
            const lastDateInput = allDateInputs[allDateInputs.length - 1];
            if (lastDateInput && lastDateInput.value !== '') {
                addDateInput(allDateInputs.length + 1);
            } else if (allDateInputs.length === 0) {
                addDateInput(1);
            }
        }
    
        function loadPayDates(cartId) {
            fetch(`/obtener_fechas_de_pago/${cartId}`)
                .then(response => response.json())
                .then(data => {
                    if (data.length > 0) {
                        data.forEach((date, index) => addDateInput(index + 1, date));
                    }
                    ensureEmptyInput();
                });
        }
    
        document.querySelector('.btn-save-changes').addEventListener('click', function() {
            const allDateInputs = document.querySelectorAll('.date-input');
            const dates = Array.from(allDateInputs).map(input => input.value).filter(value => value !== '');
            const modal = document.getElementById('agregarFechasModal');
            const cartId = modal.getAttribute('data-cartid');
            const state = 'recepcionado';
    
            fetch(`/actualizar_fechas_de_pago/${cartId}/${state}`, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({dates}),
            })
            .then(response => response.json())
            .then(data => {
                if (data.redirect) {
                    window.location.href = data.redirect;
                }
            });
        });
    
        // Remplazamos la funcionalidad de jQuery por JavaScript puro para el modal
        const modal = document.getElementById('agregarFechasModal');
        modal.addEventListener('show.bs.modal', function (event) {
            const button = event.relatedTarget; // Botón que activó el modal
            const cartId = button.getAttribute('data-cartid'); // Extraer el cartId del botón que abrió el modal
    
            dateInputContainer.innerHTML = '';
    
            this.setAttribute('data-cartid', cartId);
            loadPayDates(cartId);
        });
    });
    
    document.addEventListener('DOMContentLoaded', function () {
        const quantityInputs = document.querySelectorAll('.quantity-input');
        const discountInputs = document.querySelectorAll('.discount-input');
        const costInputs = document.querySelectorAll('.cost-input');
    
        function enforceMinMax(el) {
            if (el.value !== '') {
                const value = parseInt(el.value, 10);
                const min = parseInt(el.getAttribute('min'), 10);
                const max = parseInt(el.getAttribute('max'), 10);
    
                if (!isNaN(value) && !isNaN(min) && value < min) {
                    el.value = el.min;
                } else if (!isNaN(value) && !isNaN(max) && value > max) {
                    el.value = el.max;
                }
            }
        }

        [quantityInputs, discountInputs, costInputs].forEach((inputGroup) => {
            inputGroup.forEach((input) => {
                input.addEventListener('input', function () {
                    enforceMinMax(this);
                });
            });
        });
    });

    document.addEventListener('DOMContentLoaded', function() {
        function updateNetoBrutoCost(originalCost, row) {
            const tipoPrecio = document.querySelector('input[name="precioRadio"]:checked').value;
            let valorFinal = 0;
    
            if(tipoPrecio === 'neto') {
                valorFinal = originalCost;
            } else if(tipoPrecio === 'bruto') {
                valorFinal = originalCost * 1.19;
            }
    
            row.querySelector('.cost-input').value = valorFinal.toFixed(2);
            return valorFinal;
        }
    
        function updateCantidadItems(totalCantidad) {
            document.querySelectorAll('.total-items').forEach(function(element) {
                element.textContent = totalCantidad;
            });
        }
    
        function updateDescuentoTotal(totalSinDescuento, totalConDescuento) {
            const descuentoTotal = totalSinDescuento > 0 ? (1 - (totalConDescuento / totalSinDescuento)) * 100 : 0;
            document.querySelectorAll('.discount').forEach(function(element) {
                element.textContent = descuentoTotal.toFixed(2) + '%';
            });
        }
    
        function updateNetoBrutoIVA(subtotal) {
            const tipoPrecio = document.querySelector('input[name="precioRadio"]:checked').value;
            let valorFinal = 0;
            let iva = 0;
    
            if(tipoPrecio === 'neto') {
                valorFinal = subtotal;
                iva = valorFinal * 0.19;
            } else if(tipoPrecio === 'bruto') {
                valorFinal = subtotal / 1.19;
                iva = subtotal - valorFinal;
            }
    
            document.querySelectorAll('.neto-bruto').forEach(function(element) {
                element.textContent = '$' + valorFinal.toFixed(2);
            });
            document.querySelectorAll('.iva').forEach(function(element) {
                element.textContent = '$' + iva.toFixed(2);
            });
            const total = valorFinal + iva;
            document.querySelectorAll('.total').forEach(function(element) {
                element.textContent = '$' + total.toFixed(2);
            });
        }
    
        function updateItemTotal() {
            let subtotal = 0;
            let totalCantidad = 0;
            let totalSinDescuento = 0;
            let totalConDescuento = 0;
    
            document.querySelectorAll('tr[id^="product-modal-"]').forEach(function(row) {
                const quantity = parseFloat(row.querySelector('.quantity-input').value) || 0;
                const originalCost = parseFloat(row.querySelector('.cost-input').getAttribute('data-original-cost')) || 0;
                const discountPercentage = parseFloat(row.querySelector('.discount-input').value) / 100 || 0;
    
                const cost = updateNetoBrutoCost(originalCost, row);
    
                const totalItemSinDescuento = quantity * cost;
                const totalItemConDescuento = totalItemSinDescuento * (1 - discountPercentage);
    
                row.querySelectorAll('td')[6].textContent = '$ ' + totalItemConDescuento.toFixed(2);
    
                subtotal += totalItemConDescuento;
                totalCantidad += quantity;
                totalSinDescuento += totalItemSinDescuento;
                totalConDescuento += totalItemConDescuento;
            });
    
            document.querySelectorAll('.subtotal').forEach(function(element) {
                element.textContent = '$' + subtotal.toFixed(2);
            });
            updateNetoBrutoIVA(subtotal);
            updateCantidadItems(totalCantidad);
            updateDescuentoTotal(totalSinDescuento, totalConDescuento);
        }
    
        document.querySelectorAll('.quantity-input, .discount-input').forEach(function(input) {
            input.addEventListener('input', updateItemTotal);
        });
        
        document.querySelectorAll('.cost-input').forEach(function(input) {
            input.addEventListener('blur', function() {
                let inputValue = input.value;
                let newOriginalCost = parseFloat(inputValue);

                if (!isNaN(newOriginalCost) && isFinite(newOriginalCost)) {
                    input.setAttribute('data-original-cost', newOriginalCost);
                }
                updateItemTotal();
            });
        });
        
        
        
        document.querySelectorAll('input[name="precioRadio"]').forEach(function(input) {
            input.addEventListener('change', updateItemTotal);
        });
    
        updateItemTotal();
    });

    document.addEventListener('DOMContentLoaded', () => {
        const maxInputs = 6;
        const inputContainer = document.getElementById('inputContainer');
        const submitButton = document.getElementById('submitButton');
        const mainFolioInput = document.getElementById('folioInput1');
        const folioList = [];

        mainFolioInput.addEventListener('input', () => {
            const folioValue = mainFolioInput.value;
            const productFolioInputs = document.querySelectorAll('.product-folio-input');
            productFolioInputs.forEach(input => {
                input.value = folioValue;
            });

            updateFolioValues();
        });
    
        function addInput(index) {
            const newInputDiv = document.createElement('div');
            newInputDiv.classList.add('col-auto', 'p-0', 'me-2');
            
            const label = document.createElement('label');
            label.setAttribute('for', `folioInput${index}`);
            label.className = 'form-label';
            label.textContent = index === 1 ? 'Número de Folio:' : '+';
    
            const input = document.createElement('input');
            input.type = 'number';
            input.className = 'form-control d-inline-block folio-input ms-1';
            input.id = `folioInput${index}`;
            input.setAttribute('min', '0');
            input.style.width = '120px';
    
            newInputDiv.appendChild(label);
            newInputDiv.appendChild(input);
            inputContainer.appendChild(newInputDiv);
        }
    
        inputContainer.addEventListener('input', (event) => {
            const allInputs = inputContainer.querySelectorAll('.folio-input');
            const lastInput = allInputs[allInputs.length - 1];
            if (lastInput.value !== '' && allInputs.length < maxInputs) {
                addInput(allInputs.length + 1);
            }

            updateFolioValues();
        });

        function updateFolioValues() {
            folioList.splice(0, folioList.length, ...Array.from(document.querySelectorAll('.folio-input')).map(input => input.value).filter(value => value !== ''));
        }
    
        submitButton.addEventListener('click', () => {
            const payDatesLen = parseInt(submitButton.dataset.payDatesLen, 10);
            const cartId = parseInt(submitButton.dataset.cartId, 10);
    
            if (payDatesLen === 0) {
                alert('Por favor, añade al menos una fecha de pago.');
                return;
            }
    
            const sucursalSelect = document.getElementById('sucursalSelect');
            const documentoSelect = document.getElementById('documentoSelect');
            if (!sucursalSelect.value || !documentoSelect.value) {
                alert('Por favor, seleccione una sucursal y un tipo de documento.');
                return;
            }
    
            const folioInputs = Array.from(inputContainer.querySelectorAll('.folio-input'));
            const isAnyFolioFilled = folioInputs.some(input => input.value !== '');
            if (!isAnyFolioFilled) {
                alert('Por favor, ingrese al menos un número de folio.');
                return;
            }
    
            const datosRequeridos = {
                cartId,
                tipoDocumentoValue: documentoSelect.value,
                sucursalValue: sucursalSelect.value,
                numerosFolios: folioInputs.map(input => input.value).filter(value => value !== '').join(' / '),
                listaFolios: folioInputs.map(input => input.value).filter(value => value !== ''),
                productos: collectProductData(),
                rut: document.querySelector('[data-rut]')?.dataset.rut ?? '',
                businessName: document.querySelector('[data-business-name]')?.dataset.businessName ?? ''
            };
            
            fetch('/procesar_datos_recepcion', {
                method: 'POST',
                headers: {'Content-Type': 'application/json'},
                body: JSON.stringify(datosRequeridos)
            })
            .then(response => response.json())
            .then(data => {
                if (data.redirect) {
                    window.location.href = data.redirect;
                }
            })
            .catch(error => console.error('Error:', error));
        });
    
        function collectProductData() {
            return Array.from(document.querySelectorAll('tbody tr')).map(row => {
                const id = row.id.split('-')[2];
                const variantId = row.dataset.variantId;
                const sku = row.cells[0].textContent.trim();
                const cantidad = document.getElementById(`quantity-${id}`).value;
                const costo = document.getElementById(`costo-${id}`).value;
                const descuento = document.getElementById(`descuento-${id}`).value;
                const folio = document.getElementById(`product-folio-${id}`).value;
                
                const brutoNetoValue = document.querySelector('input[name="precioRadio"]:checked').value;

                return {
                    id,
                    variantId,
                    sku,
                    folio,
                    cantidad: parseInt(cantidad, 10),
                    descuento: parseFloat(descuento) / 100,
                    costo_visual: parseFloat(costo).toFixed(2),
                    costo: brutoNetoValue === 'bruto' ? parseFloat(costo / 1.19).toFixed(2) : parseFloat(costo).toFixed(2),
                    costo_real: brutoNetoValue === 'bruto' ? parseFloat(costo / 1.19 * (1 - descuento / 100)).toFixed(2) : parseFloat(costo * (1 - descuento / 100)).toFixed(2)
                };
            });
        }

        document.addEventListener('input', (event) => {
            if (event.target.classList.contains('product-folio-input')) {
                const inputFolioValue = event.target.value;
                if (!folioList.includes(inputFolioValue)) {
                    alert('El folio ingresado no está en la lista de folios permitidos.');
                    event.target.value = '';
                }
            }
        });
        updateFolioValues();
    });
</script>
{% endblock %}