{% extends './layout.html' %}

{% block title %}RMM | Horas Extra{% endblock %}

{% block body %}
{% include 'header.html' %}

<style>
    .btn-sm {
        min-width: 95px;
        text-align: center;
        font-size: 13px;
    }
    .new-overtime-record-button {
        text-align: left;
        margin-bottom: 10px;
    }
</style>

<div class="container-fluid mt-3 ms-3">
    <div class="row">
        <div class="col-12 new-overtime-record-button">
            <!-- Button to open a new supplier modal, if necessary -->
            <button class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#createOvertimeRecordModal">Nuevo Registro</button>
        </div>
        <div class="col-12">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Empleado</th>
                        <th>Mes</th>
                        <th>Horas Extra</th>
                    </tr>
                </thead>
                <tbody>
                    {% for overtime_record in data %}
                    <tr id="{{ supplier.id }}">
                        <td>{{ overtime_record.employee_id }}</td>
                        <td>{{ overtime_record.month }}</td>
                        <td>{{ overtime_record.overtime_hours }}</td>
                        <td>
                            <button type="button" class="btn btn-sm btn-primary edit-btn" onclick="openEditOvertimeRecordModal({{ overtime_record }})">Editar</button>
                            <a href="{{ url_for('human_resources.delete_overtime_record', supplier_id=supplier.id) }}" class="btn btn-sm btn-danger" onclick="return confirm('¿Está seguro de que desea eliminar a este proveedor?')">Eliminar</a>
                        </td>
                    </tr>
                    {% else %}
                        <tr>
                            <td colspan="3">No hay registros disponibles.</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>                                                                                                 
        </div>
    </div>
</div>

<!-- Bootstrap Modal to create records -->
<div class="modal fade" id="createOvertimeRecordModal" tabindex="-1" aria-labelledby="createOvertimeRecordModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="createOvertimeRecordModalLabel">Crear Nuevo Registro</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                {% include 'human_resources/overtime_hours_management/overtime_record_creation.html' %}
            </div>
        </div>
    </div>
</div>

<!-- Bootstrap Modal to edit records -->
<div class="modal fade" id="editOvertimeRecordModal" tabindex="-1" role="dialog" aria-labelledby="editOvertimeRecordModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editOvertimeRecordModalLabel">Editar Registro</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                {% include 'human_resources/overtime_hours_management/overtime_record_edition.html' %}
            </div>
        </div>
    </div>
</div>


{% block scripts %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    function openEditOvertimeRecordModal(overtimeRecord) {
        // Populate the modal fields
        document.getElementById('editOvertimeRecordModalEmployeeId').value = overtime_record.employee_id;
        document.getElementById('editOvertimeRecordModalMonth').value = overtime_record.month;
        document.getElementById('editOvertimeRecordModalOvertimeRecord').value = overtime_record.overtime_hours;

        // Update the form action
        var form = document.querySelector('#editOvertimeRecordModal form');
        var baseUrl = "{{ url_for('human_resources.edit_overtime_record', employee_id=0, month='dummyMonth') }}";  
        form.action = baseUrl.replace('/0/dummyMonth', '/' + overtime_record.employee_id + '/' + overtime_record.month);
        
        // Open the modal
        jQuery('#editOvertimeRecordModal').modal('show');
    }  
</script>
{% endblock %}

{% endblock %}
