{% extends './layout.html' %}

{% block title %}RMM | Horas Extra{% endblock %}

{% block body %}
{% include 'header.html' %}

<style>
    .btn-sm {
        min-width: 95px;
        text-align: center;
        font-size: 13px;
    }
    .new-record-button {
        text-align: left;
        margin-bottom: 10px;
    }
    .empty-row {
        background-color: red;
    }
</style>

<div class="container-fluid mt-3 ms-3">
    <!-- Month Selector -->
    <div class="row">
        <div class="col-12">
            <form id="overtimeForm" onsubmit="updateFormAction()" method="get">
                <!-- Employee ID Dropdown -->
                <select id="employeeIdSelect" name="employee_id">
                    {% for id, name in form.employee_id.choices %}
                        <option value="{{ id }}">{{ name }}</option>
                    {% endfor %}
                </select>
            
                <!-- Month Dropdown -->
                <select id="monthSelect" name="month">
                    {% for month_value in form.month.choices %}
                        <option value="{{ month_value }}">{{ month_value }}</option>
                    {% endfor %}
                </select>
            
                <button type="submit">Submit</button>
            </form>
        </div>
    </div>

    <!-- Conditionally Display Table -->
    {% if show_table %}
        <div class="row">
            <div class="col-12">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Día</th>
                            <th>Hora de Entrada</th>
                            <th>Hora de Salida</th>
                            <th>Inicio Colación</th>
                            <th>Fin Colación</th>
                            <th>Total trabajado</th>
                            <th>Horas Extra</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for overtime_record in data %}
                            <tr>
                                <td>{{ overtime_record.date }}</td>
                                {% if (overtime_record.check_in or overtime_record.check_out or overtime_record.lunch_break_start or overtime_record.lunch_break_end) %}
                                    <td>
                                        <form action="{{ url_for('human_resources.update_overtime_record', date=overtime_record.date, employee_id=overtime_record.employee_id) }}" method="post" class="edit-form">
                                            <input type="text" name="check_in" value="{{ overtime_record.check_in }}" class="edit-input" onblur="this.form.submit()">
                                        </form>
                                    </td>
                                    <td>
                                        <form action="{{ url_for('human_resources.update_overtime_record', date=overtime_record.date, employee_id=overtime_record.employee_id) }}" method="post" class="edit-form">
                                            <input type="text" name="check_out" value="{{ overtime_record.check_out }}" class="edit-input" onblur="this.form.submit()">
                                        </form>
                                    </td>
                                    <td>
                                        <form action="{{ url_for('human_resources.update_overtime_record', date=overtime_record.date, employee_id=overtime_record.employee_id) }}" method="post" class="edit-form">
                                            <input type="text" name="lunch_break_start" value="{{ overtime_record.lunch_break_start }}" class="edit-input" onblur="this.form.submit()">
                                        </form>
                                    </td>
                                    <td>
                                        <form action="{{ url_for('human_resources.update_overtime_record', date=overtime_record.date, employee_id=overtime_record.employee_id) }}" method="post" class="edit-form">
                                            <input type="text" name="lunch_break_end" value="{{ overtime_record.lunch_break_end }}" class="edit-input" onblur="this.form.submit()">
                                        </form>
                                    </td>
                                    <td>{{ overtime_record.total_hours_worked }}</td>
                                    <td>{{ overtime_record.overtime_hours }}</td>
                                {% else %}
                                    <td colspan="7" class="empty-row">DOMINGO</td>
                                {% endif %}
                            </tr>
                        {% else %}
                            <tr>
                                <td colspan="X">No hay registros disponibles.</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    {% endif %}
</div>

{% block scripts %}
<script>
    function updateFormAction() {
        var employeeId = document.getElementById('employeeIdSelect').value;
        var month = document.getElementById('monthSelect').value;
        var form = document.getElementById('overtimeForm');
        form.action = '/overtime_hours_management/' + employeeId + '/' + month;
    }
</script>
{% endblock %}

{% endblock %}
