{% extends './layout.html' %}

{% block title %}RMM | Horas Extra{% endblock %}

{% block body %}
{% include 'header.html' %}

<style>
    .btn-sm {
        min-width: 95px;
        text-align: center;
        font-size: 13px;
    }
    .new-record-button {
        text-align: left;
        margin-bottom: 10px;
    }
    .empty-row {
        background-color: red;
    }
    .summary-box {
        border-radius: 5px;
        margin-top: 10px;
    }
    #overtimeForm {
        display: flex;
        align-items: center;
        gap: 10px;
    }
    #overtimeForm input, #overtimeForm button {
        margin-bottom: 0;
    }
</style>

<div class="container-fluid mt-3">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <form id="overtimeForm" onsubmit="updateFormAction()" method="get" class="d-flex align-items-center gap-2">
                    <label for="employeeIdSelect" class="form-label-bold">Empleado</label>
                        <select id="employeeIdSelect" name="employee_id" class="form-control">
                            {% for id, name in form.employee_id.choices %}
                                <option value="{{ id }}">{{ name }}</option>
                            {% endfor %}
                        </select>
                        <label for="monthSelect" class="form-label-bold">Periodo</label>
                        <select id="monthSelect" name="month" class="form-control">
                            {% for month_value in form.month.choices %}
                                <option value="{{ month_value }}">{{ month_value }}</option>
                            {% endfor %}
                        </select>
                
                    <button type="submit" class="btn btn-primary">Aceptar</button>
                </form>
            </div>
        </div>
    </div>
    <hr style="height: 2px; background-color: black;">

    {% if show_table %}
    <div class="container-fluid mt-3">
        <div class="row">
            <!-- Column for Summary -->
            <div class="col-md-12">
                <div class="bg-warning text-dark p-1 rounded mt-2">
                    <h4 class="mb-1">Resumen de Jornada Mensual</h4>
                </div>
                <div class="row mt-3">
                    <div class="col-md-6">
                        <ul class="list-group">
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                <strong>Empleado</strong>
                                <span>NONE</span>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                <strong>Periodo</strong>
                                <span>NONE</span>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                <strong>Estado</strong>
                                <span>NONE</span
                        </ul>
                    </div>
                    <div class="col-md-6">
                        <ul class="list-group">
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                <strong>Total de horas Jornada</strong>
                                <span>{{ summary_data.monthly_standard_total_hours_worked }}</span>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                <strong>Total de horas trabajadas</strong>
                                <span>{{ summary_data.monthly_total_hours_worked }}</span>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                <strong>Total de horas extras</strong>
                                <span>{{ summary_data.monthly_overtime_hours }}</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <hr style="height: 2px; background-color: black;">
        <div class="row">
            <div class="col-12">
                <table class="table table-hover table-striped">
                    <thead class="table-dark text-light">
                        <tr>
                            <th>Día</th>
                            <th>Hora de Entrada</th>
                            <th>Hora de Salida</th>
                            <th>Inicio Colación</th>
                            <th>Fin Colación</th>
                            <th>Total trabajado</th>
                            <th>Horas Extra</th>
                            <th>Confirmado</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for overtime_record in data %}
                            <tr>
                                <td>{{ overtime_record.date }}</td>
                                {% if (overtime_record.check_in or overtime_record.check_out or overtime_record.lunch_break_start or overtime_record.lunch_break_end) %}
                                    <td>
                                        <form action="{{ url_for('human_resources.update_overtime_record', date=overtime_record.date, employee_id=overtime_record.employee_id) }}" method="post" class="edit-form">
                                            <input type="text" name="check_in" value="{{ overtime_record.check_in }}" class="edit-input" onblur="this.form.submit()">
                                        </form>
                                    </td>
                                    <td>
                                        <form action="{{ url_for('human_resources.update_overtime_record', date=overtime_record.date, employee_id=overtime_record.employee_id) }}" method="post" class="edit-form">
                                            <input type="text" name="check_out" value="{{ overtime_record.check_out }}" class="edit-input" onblur="this.form.submit()">
                                        </form>
                                    </td>
                                    <td>
                                        <form action="{{ url_for('human_resources.update_overtime_record', date=overtime_record.date, employee_id=overtime_record.employee_id) }}" method="post" class="edit-form">
                                            <input type="text" name="lunch_break_start" value="{{ overtime_record.lunch_break_start }}" class="edit-input" onblur="this.form.submit()">
                                        </form>
                                    </td>
                                    <td>
                                        <form action="{{ url_for('human_resources.update_overtime_record', date=overtime_record.date, employee_id=overtime_record.employee_id) }}" method="post" class="edit-form">
                                            <input type="text" name="lunch_break_end" value="{{ overtime_record.lunch_break_end }}" class="edit-input" onblur="this.form.submit()">
                                        </form>
                                    </td>
                                    <td>{{ overtime_record.total_hours_worked }}</td>
                                    <td>{{ overtime_record.overtime_hours }}</td>
                                    <td>
                                        {% if overtime_record.confirmed %}
                                            ✅
                                        {% else %}
                                            ❌
                                        {% endif %}
                                    </td>
                                    <td>
                                        <button type="button" class="btn btn-primary">Confirmar</button>
                                        <button type="button" class="btn btn-danger">Feriado</button>
                                    </td>
                                {% else %}
                                    <td colspan="9" class="empty-row">DOMINGO</td>
                                {% endif %}
                            </tr>
                        {% else %}
                            <tr>
                                <td colspan="X">No hay registros disponibles.</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>             
        </div>
    {% endif %}
</div>

{% block scripts %}
<script>
    function updateFormAction() {
        var employeeId = document.getElementById('employeeIdSelect').value;
        var month = document.getElementById('monthSelect').value;
        var form = document.getElementById('overtimeForm');
        form.action = '/overtime_hours_management/' + employeeId + '/' + month;
    
        // Restablecer los valores de los selectores a su estado inicial
        document.getElementById('employeeIdSelect').value = '';
        document.getElementById('monthSelect').value = '';
    }
    
</script>
{% endblock %}

{% endblock %}
